.tier-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3% auto;
    border: 1px solid white;
    background-color: var(--color-grey-3);
    max-width: 1000px;
}

.tier-list .tier {
    width: 90%;
    margin: 16px;
    padding: 16px;
    border: 1px solid #ccc;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    background-color: var(--color-grey-1);
}

.tier-list .tier p {
    font-size: 2rem;
    margin-right: 1rem;
}

.tier-list .tier img {
    height: 90px;
    width: auto;
    margin: 0 8px;
}

@media screen and (max-width: 1250px) {
    .tier-list {
        margin: 3% 5%;
    }
}

@media screen and (max-width: 700px) {
    
    .tier-list .tier img {
        height: 50px;
        
    }
}

@media screen and (max-width: 450px) {
    .tier-list {
        margin: 9% 1%;
    }
    .tier-list .tier img {
        height: 40px;
        
    }
}

@media screen and (min-width: 1800px) {
    .tier-list {
        max-width: 1200px; /* Adjust max-width for larger screens */
    }

    .tier-list .tier {
        width: 95%; /* Adjust width for larger screens */
    }

    .tier-list .tier p {
        font-size: 2.5rem; /* Increase font size for paragraphs */
    }

    .tier-list .tier img {
        height: 120px; /* Increase height for images */
    }
}

